name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 15.0.2
        java-package: jdk
    - name: Install Ghidra
      uses: er28-0652/setup-ghidra@master
      with:
        version: "latest"
    - name: Build
      run: GHIDRA_INSTALL_DIR=$(GHIDRA_INSTALL_PATH) gradle
    - name: Upload JAR
      uses: actions/upload-artifact@v2.2.0
      with:
        name: JAR
        path: build/libs/ghidra-iboot.jar
