name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 15.0.2
        java-package: jdk
    - name: Install Ghidra
      run: |
        wget https://ghidra-sre.org/ghidra_9.2.2_PUBLIC_20201229.zip
        mkdir -p .ghidra_install
        sudo unzip ghidra_9.2.2_PUBLIC_20201229.zip -d .ghidra_install
    - name: Build
      run: GHIDRA_INSTALL_DIR=.ghidra_install gradle
    - name: Upload JAR
      uses: actions/upload-artifact@v2.2.0
      with:
        name: JAR
        path: build/libs/ghidra-iboot.jar
